@model ExpandedDetailView.Models.BaseModels.Product

@{
    ViewBag.Title = "ShowProduct";
}

<h2>@Model.Name</h2>

<img id="prodImg" src="~/Content/Images/Products/@Model.Image"/>

<ul>
    <li>
        <p>Tilføjs dato: @Model.DateAdded.ToLongDateString()</p>
    <li>
        <p>Pris: @Model.Price DKK.</p>
    </li>
    <li>
        @if (Model.StorageAmount > 9)
        {
        <p style="color:green;">Antal tilbage: @Model.StorageAmount</p>
        }
        else if (Model.StorageAmount > 0 && Model.StorageAmount < 10)
        {
            <p style="color:yellow;">Antal tilbage: @Model.StorageAmount</p>
        }
        else
        {
            <p style="color:red;">Antal tilbage: @Model.StorageAmount</p>
        }
    </li>
   
</ul>